.App-section {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

#html5qr-code-full-region {
    background-color: #adb5bd;
    color: #282c34;
    font-size: 12pt;
}

@media(max-width: 1024px) {
    #html5qr-code-full-region {
        width: 100%;
        max-width: 600px;
    }
    
    th, td {
        padding: 8px !important;
        font-size: 0.9rem;
    }
}

@media(min-width: 1024px) {
    #html5qr-code-full-region {
        width: 600px;
    }
}

.Result-container {
    width: 95%;
    max-width: 800px;
    margin: 10px auto;
    overflow-x: auto;
}

.Result-header {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

table {
    width: 100%;
    min-width: 300px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: left;
}

thead th {
    background-color: #55608f;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

a {
    color: white;
}
